<!-- Font | Optional-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,700" />
<!-- Wrapper | For this page - !!ignore-->
<!-- *** fut-player-card ***-->
<div class="fut-player-card" >
    <!-- Player Card Top-->
    <div class="player-card-top">
        <div class="player-master-info">
            <div class="player-rating"><span>{{player.age}}</span></div>
            <div class="player-position"><span>{{player.position}}</span></div>
            <div class="player-nation"><img src="{{player.nationality_img }}" alt="{{player.nationality}}"
                    draggable="false" /></div>
            <div class="player-club"><img src="{{player.club_img | replace('tiny','head')}}" alt="{{player.club}}" draggable="false" /></div>
        </div>
        <div class="player-picture"><img src="{{player.img | replace('small','header')}}" alt="{{player.name}}"
                draggable="false" />
        </div>
    </div>
    <!-- Player Card Bottom-->
    <div class="player-card-bottom">
        <div class="player-info">
            <!-- Player Name-->
            <div class="player-name"><span>{{player.name}}</span></div>
            <!-- Player Features-->
            <div class="player-features">
                <div class="player-features-col"><span>
                        <!-- <div class="player-feature-value">97</div>
                        <div class="player-feature-title">PAC</div>
                    </span><span>
                        <div class="player-feature-value">95</div>
                        <div class="player-feature-title">SHO</div>
                    </span><span>
                        <div class="player-feature-value">94</div>
                        <div class="player-feature-title">PAS</div>
                    </span></div>
                <div class="player-features-col"><span>
                        <div class="player-feature-value">99</div>
                        <div class="player-feature-title">DRI</div>
                    </span><span>
                        <div class="player-feature-value">35</div>
                        <div class="player-feature-title">DEF</div>
                    </span><span>
                        <div class="player-feature-value">68</div>
                        <div class="player-feature-title">PHY</div>
                    </span> -->
                </div> 
            </div>
        </div>
    </div>
</div>