{% extends 'base.html' %}
{% block title %}Create new Game{% endblock %}
{% block content %}
<h1>Select the teammates</h1>
<div class="container">
    <div class="row">
        <div class="col-10 col-sm-6 col-md-8">
            <div class="card m-2 text-center">
                <div class="card-img-top">
                    <div class="p-2">
                        <img src="{{ player.img | replace('small','header') }}" class="img-thumbnail mx-auto"
                            alt="{{ player.name }}">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ player.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Position: {{ player.position }} | Age: {{ player.age }}
                    </h6>
                    <ul class="list-group list-group-flush d-flex align-items-center">
                        <li class="list-group-item d-flex align-items-center"><img class="pr-1"
                                src="{{ player.club_img }}"> {{ player.club }}</li>
                        <li class="list-group-item d-flex align-items-center"><img class="pr-1"
                                src="{{ player.nationality_img }}">{{ player.nationality }}
                        </li>
                    </ul>
                    <div class="card-body" style="overflow:hidden;">
                        <hr>
                        <b>Team-Mates</b>
                        <div>Select the team-mates you want to include in the Quiz</div>
                        <div>The more mates you include, the easier the game gets. Also its recommendet to select well
                            known players to be more fun</div>
                            <div class="text-muted">(There is a limit of 7 players per game)</div>
                        <br>
                        <form method="post">
                            <select name="mateSelect" class="selectpicker" multiple title="Select Teammates..."
                                data-width="fit" data-selected-text-format="count > 5" data-max-options="7"
                                data-container=".card" data-live-search="true">
                                {% for mate in mates%}
                                <option value="{{mate.id}} - {{mate.name}}">{{mate.name}}</option>
                                {% endfor %}
                            </select>
                            <hr>
                            <div>
                                <div>How difficult would you rate your selection</div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineDifficulty"
                                        id="inlineRadio1" value="5">
                                    <label class="form-check-label" for="inlineRadio1">Easy</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineDifficulty"
                                        id="inlineRadio2" value="10">
                                    <label class="form-check-label" for="inlineRadio2">Medium</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineDifficulty"
                                        id="inlineRadio2" value="20">
                                    <label class="form-check-label" for="inlineRadio2">Hard</label>
                                </div>
                            </div>
                            <hr>
                            <button type="submit" name="create" class="btn btn-primary">Create Quiz</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}