{% extends 'base.html' %}
{% import "games/card.jinja" as card %}
{% block title %}Play{% endblock %}
{% block content %}
<div class="pt-md-5 pt-3 txt_on_background">
    <div class="col-12 container">
        <div class="row justify-content-center">
            {% if from_name or to_name %}
            <h5 class="col-6 text-center txt_secondary py-2">
                Hey {{to_name}}! I challenge you <i class="fas fa-smile-beam"></i> <br> Have fun {{from_name}}
            </h5>
            {% endif %}
        </div>
        <h3 class="col text-center">
            Guess who played with all players on the bottom
        </h3>
        <div id="player-card" class="row justify-content-center">
            <div class="col-8 col-sm-5 col-lg-4 col-xl-3">
                {{ card.card(player=player) }}
            </div>
        </div>
    </div>
</div>
<div class="m-1 text-center txt_on_background">
    <h5> Search the missing player</h5>
    <div class="container">
        <form class="form-group" name="search" action="" method="post">
            {{ form.csrf_token() }}
            <div class="row justify-content-center">
                <div class="input-group col-12 col-sm-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-search"></i></span>
                    </div>
                    {{form.search(placeholder="Who played with all players below?", class="is-invalid form-control" if form.search.errors else "form-control")}}
                    {% for error in form.search.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="p-2">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
</div>
<div class="pb-4 d-flex w-50 mx-auto">
    <hr class="my-auto straight" />
</div>
<div class="p-3">
    <div class="text-center txt_on_background pb-4">
        <h5 class="txt_on_background"> The Team Mates </h5>
        <small>Click on the players if you search for more information</small>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th style="width: 10%" scope="col">Pos.</th>
                        <th scope="col">Club</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in game.players %}
                    <tr class="text-center" style="transform: rotate(0);">
                        <th scope="row">
                            <a href="https://transfermarkt.com{{ player.url | replace('profil','gemeinsameSpiele')}}"
                                class="stretched-link link-unstyled" target="_blank">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-12 col-md-4">
                                        <img src="{{ player.img | replace('small','header')}}"
                                            class="img-thumbnail" alt="{{ player.name }}">
                                    </div>
                                </div>
                            </a>
                        </th>
                        <td class="align-middle">{{player.name}}</td>
                        <td class="align-middle">{{player.age}}</td>
                        <td class="align-middle">{{player.position}}</td>
                        <td class="align-middle">{{player.club}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="text-center">
    <form action="" name="joker" method="post">
        {%if joker_count<5 %}
        <button name="joker" value="{{joker_count}}" class="btn btn-danger" type="submit"><i
                class="fas fa-question"></i> &nbsp; Need a Joker</button>
        {% else %}
        <button name="joker" class="btn btn-danger disabled" type="submit" disabled><i class="fas fa-question"></i>
            &nbsp; You used all your jokers</button>
        {% endif %}
    </form>
    <div class="d-md-inline-block d-xl-none p-3">
        <a class="btn btn-primary px-4" href="{{url_for('game.share', game_id=game.id)}}"><i class="fas fa-share-alt"></i> &nbsp;Share</a>
    </div>
    
</div>
<a style="position:fixed; bottom:5%; right:0;margin:0;padding:5px 3px;" class="d-none d-xl-inline btn btn-primary px-4" href="{{url_for('game.share', game_id=game.id)}}"><i class="fas fa-share-alt"></i> &nbsp;Share</a>
<script type="text/javascript">
    let solved = "{{solved}}";
</script>
{% endblock %}