:root {
    --background: #27323a;
    --surface: #435055;
    --primary: #29a19c;
    --secondary: #a3f7bf;
    --txt_bg: #a3f7bf;
    --txt_surface: #a3f7bf;
    --txt_primary: white;
    --txt_secondary: #435055;
}

.bg_background {
  color: var(--txt_bg);
  background-color: var(--background);
}

.bg_surface {
  color: var(--txt_surface);
  background-color: var(--surface);
}

.bg_primary {
  color: var(--txt_primary);
  background-color: var(--primary);
}

.bg_secondary {
  color: var(--txt_secondary);
  background-color: var(--secondary);
}

.txt_on_background {
  color: var(--txt_bg)
}

.txt_on_primary {
  color: var(--txt_primary)
}

.txt_on_secondary {
  color: var(--txt_secondary)
}

.txt_background {
  color: var(--background)
}

.txt_primary {
  color: var(--primary)
}

.txt_secondary {
  color: var(--secondary)
}

/* Own Buttons */
.btn-primary {
  color: var(--txt_secondary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-primary:hover {
  color: var(--txt_primary);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:focus, .btn-primary.focus {
  color: var(--txt_primary);
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: var(--txt_primary);
  background-color: var(--primary);
  border-color: var(--secondary);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--secondary);
}

/* Own html elements */
a.link, a:visited.link {
  color: var(--primary);
  text-decoration: none;
}
a:hover.link, a:active.link{
  color: var(--txt_primary);
  text-decoration: none;
}

hr.skewed {
  position:absolute;
  height:1px;
  width:20%;
  left:40%;
  transform: rotate(-2deg);
  -webkit-transform:rotate(-2deg);
  background: linear-gradient(90deg, var(--background),var(--secondary),var(--background));
}
hr.straight {
  height:1px;
  width:50%;
  left:25%;
  background: linear-gradient(90deg, var(--background),var(--secondary),var(--background));
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primary)
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  /* border: inherit; */
  outline: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit;
}


/* Confetti */
.confetti-wrapper {
  position: fixed;
  height: 100%;
  min-width: 100vw;
  z-index: -10;
}

/* skewed sections */
.overlapLeft {
  margin-top: -3.49vw;
  padding-bottom: calc(1rem + 3.49vw);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-transition: margin-top 0.2s ease-out;
  transition: margin-top 0.2s ease-out;
  will-change: margin-top;
  -webkit-clip-path: polygon(0% 3.49vw,100% 0%,100% 100%,0% 100%);
  clip-path: polygon(0% 3.49vw,100% 0%,100% 100%,0% 100%);
  /* background-color: var(--blue); */
}
.overlapRight {
  margin-top: -3.49vw;
  padding-bottom: calc(1rem + 3.49vw);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-transition: margin-top 0.2s ease-out;
  transition: margin-top 0.2s ease-out;
  will-change: margin-top;
  -webkit-clip-path: polygon(0% 0%,100% 3.49vw,100% 100%,0% 100%);
  clip-path: polygon(0% 0%,100% 3.49vw,100% 100%,0% 100%);
  /* background-color: white; */
}

.pagination > li > a {
  background-color: white;
  color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #5A4181 !Important;
  border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover {
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}
  /*
   *** fut-player-card styles ***
   */
.fut-player-card {
  /* position: relative; */
  /* width: 300px; */
  /* height: 485px; */
  background-image: url('../img/player_card_dark.png');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3.8rem 0;
  z-index: 2;
  transition: 200ms ease-in;
}

.fut-player-card .player-card-top {
  /* position: relative; */
  display: flex;
  color: #e9cc74;
  padding: 0 1.5rem;
}

.fut-player-card .player-card-top .player-master-info {
  /* position: absolute; */
  line-height: 2.2rem;
  font-weight: 300;
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.fut-player-card .player-card-top .player-master-info .player-rating {
  font-size: 2rem;
}

.fut-player-card .player-card-top .player-master-info .player-position {
  font-size: 1.4rem;
}

.fut-player-card .player-card-top .player-master-info .player-nation {
  display: block;
  width: 2rem;
  height: 25px;
  margin: 0.3rem 0;
}
.fut-player-card .player-card-top .player-master-info .player-nation img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fut-player-card .player-card-top .player-master-info .player-club {
  display: block;
  width: 2.1rem;
  height: 40px;
}

.fut-player-card .player-card-top .player-master-info .player-club img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fut-player-card .player-card-top .player-picture {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.fut-player-card .player-card-top .player-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  /* right: -1.5rem; */
  bottom: 0;
  border-radius: 5%;
}

.fut-player-card .player-card-top .player-picture .player-extra {
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 2rem;
  padding: 0 1.5rem;
  text-align: right;
  background: none;
}

.fut-player-card .player-card-top .player-picture .player-extra span {
  margin-left: 0.6rem;
  text-shadow: 2px 2px #333;
}

.fut-player-card .player-card-bottom {
  position: relative;
}

.fut-player-card .player-card-bottom .player-info {
  display: block;
  padding: 0.3rem 0;
  color: #e9cc74;
  width: 90%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 2;
}

.fut-player-card .player-card-bottom .player-info .player-name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(233, 204, 116, 0.1);
  padding-bottom: 0.3rem;
  overflow: hidden;
}
.fut-player-card .player-card-bottom .player-info .player-name span {
  display: block;
  text-shadow: 2px 2px #111;
}
.fut-player-card .player-card-bottom .player-info .player-features {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
  border-right: 2px solid rgba(233, 204, 116, 0.1);
  padding: 0 2.3rem;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
  margin-right: 0.3rem;
  font-weight: 700;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
  font-weight: 300;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
  border: 0;
}
