:root {
    --background: #27323a;
    --surface: #435055;
    --primary: #29a19c;
    --secondary: #a3f7bf;
    --txt_bg: #a3f7bf;
    --txt_surface: #a3f7bf;
    --txt_primary: white;
    --txt_secondary: #435055;
}

.bg_background {
  color: var(--txt_bg);
  background-color: var(--background);
}

.bg_surface {
  color: var(--txt_surface);
  background-color: var(--surface);
}

.bg_primary {
  color: var(--txt_primary);
  background-color: var(--primary);
}

.bg_secondary {
  color: var(--txt_secondary);
  background-color: var(--secondary);
}

.txt_on_background {
  color: var(--txt_bg)
}

.txt_on_primary {
  color: var(--txt_primary)
}

.txt_on_secondary {
  color: var(--txt_secondary)
}

.txt_background {
  color: var(--background)
}

.txt_primary {
  color: var(--primary)
}

.txt_secondary {
  color: var(--secondary)
}

/* Own Buttons */
.btn-primary {
  color: var(--txt_secondary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-primary:hover {
  color: var(--txt_primary);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:focus, .btn-primary.focus {
  color: var(--txt_primary);
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: var(--txt_primary);
  background-color: var(--primary);
  border-color: var(--secondary);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--secondary);
}

.navbar-dark .navbar-toggler {
  border: none
}
/* Own html elements */
a.link, a:visited.link {
  color: var(--primary);
  text-decoration: none;
}
a:hover.link, a:active.link{
  color: var(--txt_primary);
  text-decoration: none;
}

hr.skewed {
  position:absolute;
  height:1px;
  width:20%;
  left:40%;
  transform: rotate(-2deg);
  -webkit-transform:rotate(-2deg);
  background: linear-gradient(90deg, var(--background),var(--secondary),var(--background));
}
hr.straight {
  height:1px;
  width:50%;
  left:25%;
  background: linear-gradient(90deg, var(--background),var(--secondary),var(--background));
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primary)
}


.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  /* border: inherit; */
  outline: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit;
}


.img-border {
  border: 0.1rem solid white;
}


.share_button {
  position:fixed; 
  bottom:3vw; 
  right:3vw;
  margin:0;
  padding:5px 3px; 
  border-radius:30px; 
  background-color:var(--secondary);
  color: var(--txt_secondary);
  box-shadow: 0 2px 4px -1px var(--primary), 0 4px 5px 0 var(--primary), 0 1px 10px 0 var(--primary);
  -webkit-box-shadow: 0 2px 4px -1px var(--primary), 0 4px 5px 0 var(--primary), 0 1px 10px 0 var(--primary)
}

/* Confetti */
.confetti-wrapper {
  position: fixed;
  height: 100%;
  min-width: 100vw;
  z-index: -10;
}

/* skewed sections */
.overlapLeft {
  margin-top: -3.49vw;
  padding-bottom: calc(1rem + 3.49vw);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-transition: margin-top 0.2s ease-out;
  transition: margin-top 0.2s ease-out;
  will-change: margin-top;
  -webkit-clip-path: polygon(0% 3.49vw,100% 0%,100% 100%,0% 100%);
  clip-path: polygon(0% 3.49vw,100% 0%,100% 100%,0% 100%);
  /* background-color: var(--blue); */
}
.overlapRight {
  margin-top: -3.49vw;
  padding-bottom: calc(1rem + 3.49vw);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-transition: margin-top 0.2s ease-out;
  transition: margin-top 0.2s ease-out;
  will-change: margin-top;
  -webkit-clip-path: polygon(0% 0%,100% 3.49vw,100% 100%,0% 100%);
  clip-path: polygon(0% 0%,100% 3.49vw,100% 100%,0% 100%);
  /* background-color: white; */
}

/* Pagination */
.pagination > li > a {
  background-color: white;
  color: var(--background);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--primary);
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > {
  color: white;
  background-color: var(--primary) !Important;
  border: solid 1px var(--primary) !Important;
}

.pagination > .active > a:hover {
    background-color: var(--primary) !Important;
    border: solid 1px var(--primary);
}

/* Player Card */

.player-card {
  background: transparent url('../img/player_card_shaddow_center.svg') no-repeat scroll center top;
  transition: 200ms ease-in;
  background-size: 100% auto;
}

.glow {
    -webkit-filter: drop-shadow(12px 12px 10px rgb(41, 161, 156, 0.5));
     filter: drop-shadow(12px 12px 40px rgb(163, 247, 191, 0.5));
}
