<!doctype html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- /meta -->

  <!-- styles -->
  <link type="text/css" rel="stylesheet" href="/static/css/fontawesome/css/all.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-select.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/game.css">
  <!-- /styles -->

  <!-- favicons -->
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <!-- /metas -->
  <meta property="og:title" content="Guess Who?">
  <meta property="og:description" content="A challenging game to find a missing soccer player">
  <meta property="og:image" content="{{ url_for('static', filename='img/icon.png', _external=True) }}">
  <meta property="og:url" content="{{ url_for('game.index', _external=True) }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="GuessWho">
  <meta name="twitter:image:alt" content="Can you find the missing player?">
  <meta property="fb:app_id" content="" />
  <meta name="twitter:site" content="">


</head>

<body>
  <div class="confetti-wrapper bg_background"></div>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark txt_primary py-4">
    <a class="navbar-brand" href="{{ url_for('game.index') }}">
      <img src="{{url_for('static', filename='img/icon.svg')}}" width="40" height="40" class="mx-2">
      GuessWho?
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-stretch" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link link" href="{{url_for('game.index')}}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('game.create')}}">CREATE GAME</a>
        </li>
      </ul>
      <form class="form-inline mx-sm-4 my-lg-0">
        <a class="btn btn-primary btn py-2" href="{{url_for('game.play', game_id=0)}}"> START RANDOM GAME </a>
      </form>
    </div>
  </nav>

  <!-- Begin page content -->
  <main id="content" role="main">
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="alert text-center bg_secondary" role="alert">
        {% for category, message in messages %}
        <span class="align-middle">{{ message }}</span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% endwith %}
    </div>
    {% block content %}{% endblock %}
  </main>

  <footer class="footer bg_background p-2">
    <div class="p-4 d-flex">
      <hr class="my-auto straight" />
    </div>
    <div class="container text-center p-2">
      <div class="p-1">This content is powered by transfermarkt.com &copy;</div>
      <div class="p-1">Give them some <i class="fas fa-heart txt_primary"></i> on <a class="link"
          href="https://www.transfermarkt.com/">transfermarkt.com</a></div>
      <div class="p-1">Created by <a class="link" href="https://www.klener.dev">Florian Kleiner</a></div>
      <a id="share_guesswho" class="txt_secondary" onclick="copyTextToClipboard('https://guesswho.games')"><i
          class="fas fa-share-alt"></i></a>
      {% block footer %}{% endblock %}
    </div>
  </footer>
  <script defer src="/static/js/libs/jquery.min.js"></script>
  <script defer src="/static/js/libs/bootstrap.bundle.min.js"></script>
  <script defer src="/static/js/libs/bootstrap-select.min.js"></script>
  <script defer src="/static/js/libs/soccerquiz.js"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>